<h1 class="center mb-l">Imprint</h1>
<div class="imprint background-layer">
    <div class="mb-l">
        <h2>Information according to § 5 TMG</h2>
        <p>Super Animal Pets - Unofficial Website.</p>
        <p>Contact</p>
        <p>
            <a href="mailto:{{site.mail}}" class="mail" title="mailto:{{site.mail}}">{{site.mail}}</a>
            <br>
            <a href="{{site.github1}}" class="git" target="_blank" title="{{site.github1}}">Github:
                {{site.github1_username}}</a>
            <br>
            <a href="{{site.github2}}" class="git" target="_blank" title="{{site.github2}}">Github:
                {{site.github2_username}}</a>
        </p>
    </div>
    <div class="mb-l">
        <h2>References for the used content, pictures and graphics</h2>
        <p>Super Auto Pets created and rights by
            <a href="https://teamwoodgames.com/" target="_blank"
                title="Teamwoodgames site"><span>teamwoodgames</span></a><br>
            <br>
            <br>
            <a href="https://play.google.com/store/apps/details?id=com.teamwood.spacewood.unity" class="android"
                target="_blank" title="Google Playstore page">Android</a>
            <br>
            <a href="https://store.steampowered.com/app/1714040/Super_Auto_Pets/" class="steam" target="_blank"
                title="Steampage">Steam</a>
        </p>
        <br>
        <p>Twemoji emojis made by Twitter</p>
        <p><a href="https://github.com/twitter/twemoji" target="_blank"
                title="https://github.com/twitter/twemoji">https://github.com/twitter/twemoji</a></p>
        <p><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
                title="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>
        </p>
        <br>
        <p>Noto emojis made by Google</p>
        <p><a href="https://github.com/googlefonts/noto-emoji" target="_blank"
                title="https://github.com/googlefonts/noto-emoji">https://github.com/googlefonts/noto-emoji</a>
        </p>
        <p><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank"
                title="https://www.apache.org/licenses/LICENSE-2.0">https://www.apache.org/licenses/LICENSE-2.0</a></p>
        <br>
        <p>Fxemojis by Mozilla</p>
        <p><a href="https://github.com/mozilla/fxemoji" target="_blank"
                title="https://github.com/mozilla/fxemoji">https://github.com/mozilla/fxemoji</a>
        </p>
        <p><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank"
                title="https://www.apache.org/licenses/LICENSE-2.0">https://www.apache.org/licenses/LICENSE-2.0</a></p>
        <br>
        <p>Fish emoji by pngimage</p>
        <p><a href="https://pngimage.net/fish-emoji-png-2/" target="_blank" title="Image from PNG Image">https://pngimage.net/fish-emoji-png-2/</a></p>
        <br>
        <p><a href="http://www.freepik.com" title="http://www.freepik.com" target="_blank">Animal Background Image by Freepik</a></p>
    </div>
    <div class="mb-l">
        <h2>Disclaimer of liability</h2>
        <p><strong>Liability for contents</strong><br>As a service provider we are responsible according to § 7 Abs.1
            TMG for our own contents on these pages according to the general laws. According to §§ 8 to 10 TMG, we are
            not obliged to monitor transmitted or stored third-party information or to investigate circumstances that
            indicate illegal activity. Obligations to remove or block the use of information in accordance with general
            laws remain unaffected by this. However, liability in this respect is only possible from the time of
            knowledge of a concrete violation of the law. As soon as we become aware of such infringements, we will
            remove the content immediately.<br><br><strong>Liability for links</strong><br>Our offer contains links to
            external websites of third parties, on whose contents we have no influence. Therefore, we cannot assume any
            liability for these external contents. The respective provider or operator of the pages is always
            responsible for the contents of the linked pages. The linked pages were checked for possible legal
            infringements at the time of linking. Illegal contents were not recognisable at the time of linking. A
            permanent control of the contents of the linked pages is not reasonable without concrete evidence of an
            infringement. As soon as we become aware of any legal infringements, we will remove such links
            immediately.
            <br><br>
        </p>
        <b>
            <a href="javascript:history.go(-1)" title="Go back">Go back</a>
        </b>
    </div>
</div>