<h1>Super Auto Pets Overview</h1>

<h2>Tier 1</h2>
<ul>
    {% for animal in site.data.animals.tier1 %}
        <li>
            {{ animal }}
            
            <img src="{{ animal.path }}" width="30px" style="vertical-align: middle;" alt="{{animal.name}}">
        </li>
    {% endfor %}
</ul>

<h2>Tier 2</h2>
<ul>
    {% for animal in site.data.animals.tier2 %}
        <li>
            {{ animal }}
            
            <img src="{{ animal.path }}" width="30px" style="vertical-align: middle;" alt="{{animal.name}}">
        </li>
    {% endfor %}
</ul>

<h2>Tier 3</h2>
<ul>
    {% for animal in site.data.animals.tier3 %}
        <li>
            {{ animal }}
            
            <img src="{{ animal.path }}" width="30px" style="vertical-align: middle;" alt="{{animal.name}}">
        </li>
    {% endfor %}
</ul>