<h1 class="center mb-l">Super Auto Pets - Overview</h1>
<h2>Settings</h2>
<div class="settings">
    <hr><br>
    <p><b>Animals from these versions will be displayed / are searchable</b></p>
    <div class="buttons">
        <button id="both" class="active">Both</button>
        <button id="standard">Standard Pack</button>
        <button id="expansion1">Expansion Pack 1</button>
    </div>
    <p><b>Quick search animals / foods</b></p>
    <input type="search" name="search" id="search">
</div>

<h2>Animals Overview</h2>
<div class="animals">
    <div class="accordion">
        <h3 class="toggler">Tier 1</h3>
        <div class="accordion-content">
            <div class="animals">
                {% for animal in site.data.animals.tier1 %}
                <div class="animalcontainer {{animal.id | downcase}} {{animal.version}}">
                    <p class="animal-headline">{{animal.name}}</p>
                    <img src="{{animal.path}}" alt="{{animal.name}}" title="Lvl. 1: {{animal.ability1}}" width=200
                        height=200>
                    <div class="animalstats">
                        <div class="attack">
                            <p>{{animal.attack}}</p>
                        </div>
                        <div class="hp">
                            <p>{{animal.hp}}</p>
                        </div>
                    </div>
                    <div class="animalabilities">
                        <p>Lvl. 1: {{animal.ability1}}</p>
                        <p>Lvl. 2: {{animal.ability2}}</p>
                        <p>Lvl. 3: {{animal.ability3}}</p>
                    </div>
                    {% if animal.special %}
                    <div class="specialcontainer" id="{{animal.special.name}}">
                        <p class="special-headline">{{animal.special.name}}</p>
                        <img src="{{animal.special.path}}" alt="{{animal.special.name}}" width=200 height=200>
                        {% if {{animal.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{animal.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{animal.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{animal.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{animal.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 2</h3>
        <div class="accordion-content">
            <div class="animals">
                {% for animal in site.data.animals.tier2 %}
                <div class="animalcontainer {{animal.id | downcase}} {{animal.version}}">
                    <p class="animal-headline">{{animal.name}}</p>
                    <img src="{{animal.path}}" alt="{{animal.name}}" title="Lvl. 1: {{animal.ability1}}" width=200
                        height=200>
                    <div class="animalstats">
                        <div class="attack">
                            <p>{{animal.attack}}</p>
                        </div>
                        <div class="hp">
                            <p>{{animal.hp}}</p>
                        </div>
                    </div>
                    <div class="animalabilities">
                        <p>Lvl. 1: {{animal.ability1}}</p>
                        <p>Lvl. 2: {{animal.ability2}}</p>
                        <p>Lvl. 3: {{animal.ability3}}</p>
                    </div>
                    {% if animal.special %}
                    <div class="specialcontainer" id="{{animal.special.name}}">
                        <p class="special-headline">{{animal.special.name}}</p>
                        <img src="{{animal.special.path}}" alt="{{animal.special.name}}" width=200 height=200>
                        {% if {{animal.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{animal.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{animal.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{animal.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{animal.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 3</h3>
        <div class="accordion-content">
            <div class="animals">
                {% for animal in site.data.animals.tier3 %}
                <div class="animalcontainer {{animal.id | downcase}} {{animal.version}}">
                    <p class="animal-headline">{{animal.name}}</p>
                    <img src="{{animal.path}}" alt="{{animal.name}}" title="Lvl. 1: {{animal.ability1}}" width=200
                        height=200>
                    <div class="animalstats">
                        <div class="attack">
                            <p>{{animal.attack}}</p>
                        </div>
                        <div class="hp">
                            <p>{{animal.hp}}</p>
                        </div>
                    </div>
                    <div class="animalabilities">
                        <p>Lvl. 1: {{animal.ability1}}</p>
                        <p>Lvl. 2: {{animal.ability2}}</p>
                        <p>Lvl. 3: {{animal.ability3}}</p>
                    </div>
                    {% if animal.special %}
                    <div class="specialcontainer" id="{{animal.special.name}}">
                        <p class="special-headline">{{animal.special.name}}</p>
                        <img src="{{animal.special.path}}" alt="{{animal.special.name}}" width=200 height=200>
                        {% if {{animal.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{animal.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{animal.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{animal.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{animal.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 4</h3>
        <div class="accordion-content">
            <div class="animals">
                {% for animal in site.data.animals.tier4 %}
                <div class="animalcontainer {{animal.id | downcase}} {{animal.version}}">
                    <p class="animal-headline">{{animal.name}}</p>
                    <img src="{{animal.path}}" alt="{{animal.name}}" title="Lvl. 1: {{animal.ability1}}" width=200
                        height=200>
                    <div class="animalstats">
                        <div class="attack">
                            <p>{{animal.attack}}</p>
                        </div>
                        <div class="hp">
                            <p>{{animal.hp}}</p>
                        </div>
                    </div>
                    <div class="animalabilities">
                        <p>Lvl. 1: {{animal.ability1}}</p>
                        <p>Lvl. 2: {{animal.ability2}}</p>
                        <p>Lvl. 3: {{animal.ability3}}</p>
                    </div>
                    {% if animal.special %}
                    <div class="specialcontainer" id="{{animal.special.name}}">
                        <p class="special-headline">{{animal.special.name}}</p>
                        <img src="{{animal.special.path}}" alt="{{animal.special.name}}" width=200 height=200>
                        {% if {{animal.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{animal.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{animal.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{animal.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{animal.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 5</h3>
        <div class="accordion-content">
            <div class="animals">
                {% for animal in site.data.animals.tier5 %}
                <div class="animalcontainer {{animal.id | downcase}} {{animal.version}}">
                    <p class="animal-headline">{{animal.name}}</p>
                    <img src="{{animal.path}}" alt="{{animal.name}}" title="Lvl. 1: {{animal.ability1}}" width=200
                        height=200>
                    <div class="animalstats">
                        <div class="attack">
                            <p>{{animal.attack}}</p>
                        </div>
                        <div class="hp">
                            <p>{{animal.hp}}</p>
                        </div>
                    </div>
                    <div class="animalabilities">
                        <p>Lvl. 1: {{animal.ability1}}</p>
                        <p>Lvl. 2: {{animal.ability2}}</p>
                        <p>Lvl. 3: {{animal.ability3}}</p>
                    </div>
                    {% if animal.special %}
                    <div class="specialcontainer" id="{{animal.special.name}}">
                        <p class="special-headline">{{animal.special.name}}</p>
                        <img src="{{animal.special.path}}" alt="{{animal.special.name}}" width=200 height=200>
                        {% if {{animal.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{animal.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{animal.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{animal.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{animal.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 6</h3>
        <div class="accordion-content">
            <div class="animals">
                {% for animal in site.data.animals.tier6 %}
                <div class="animalcontainer {{animal.id | downcase}} {{animal.version}}">
                    <p class="animal-headline">{{animal.name}}</p>
                    <img src="{{animal.path}}" alt="{{animal.name}}" title="Lvl. 1: {{animal.ability1}}" width=200
                        height=200>
                    <div class="animalstats">
                        <div class="attack">
                            <p>{{animal.attack}}</p>
                        </div>
                        <div class="hp">
                            <p>{{animal.hp}}</p>
                        </div>
                    </div>
                    <div class="animalabilities">
                        <p>Lvl. 1: {{animal.ability1}}</p>
                        <p>Lvl. 2: {{animal.ability2}}</p>
                        <p>Lvl. 3: {{animal.ability3}}</p>
                    </div>
                    {% if animal.special %}
                    <div class="specialcontainer" id="{{animal.special.name}}">
                        <p class="special-headline">{{animal.special.name}}</p>
                        <img src="{{animal.special.path}}" alt="{{animal.special.name}}" width=200 height=200>
                        {% if {{animal.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{animal.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{animal.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{animal.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{animal.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br>
<h2>Food Overview</h2>

<div class="foods">
    <div class="accordion">
        <h3 class="toggler">Tier 1</h3>
        <div class="accordion-content">
            <div class="foods">
                {% for food in site.data.foods.tier1 %}
                <div class="foodcontainer {{food.id | downcase}}">
                    <p class="food-headline">{{food.name}}</p>
                    <img src="{{food.path}}" alt="{{food.name}}" title="{{food.ability}}" width=200 height=200>
                    <div class="foodabilities">
                        <p>{{food.ability}}</p>
                    </div>
                    {% if food.special %}
                    <div class="specialcontainer" id="{{food.special.name}}">
                        <p class="special-headline">{{food.special.name}}</p>
                        <img src="{{food.special.path}}" alt="{{food.special.name}}" width=200 height=200>
                        {% if {{food.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{food.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{food.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{food.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{food.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 2</h3>
        <div class="accordion-content">
            <div class="foods">
                {% for food in site.data.foods.tier2 %}
                <div class="foodcontainer {{food.id | downcase}}">
                    <p class="food-headline">{{food.name}}</p>
                    <img src="{{food.path}}" alt="{{food.name}}" title="{{food.ability}}" width=200 height=200>
                    <div class="foodabilities">
                        <p>{{food.ability}}</p>
                    </div>
                    {% if food.special %}
                    <div class="specialcontainer" id="{{food.special.name}}">
                        <p class="special-headline">{{food.special.name}}</p>
                        <img src="{{food.special.path}}" alt="{{food.special.name}}" width=200 height=200>
                        {% if {{food.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{food.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{food.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{food.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{food.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 3</h3>
        <div class="accordion-content">
            <div class="foods">
                {% for food in site.data.foods.tier3 %}
                <div class="foodcontainer {{food.id | downcase}}">
                    <p class="food-headline">{{food.name}}</p>
                    <img src="{{food.path}}" alt="{{food.name}}" title="{{food.ability}}" width=200 height=200>
                    <div class="foodabilities">
                        <p>{{food.ability}}</p>
                    </div>
                    {% if food.special %}
                    <div class="specialcontainer" id="{{food.special.name}}">
                        <p class="special-headline">{{food.special.name}}</p>
                        <img src="{{food.special.path}}" alt="{{food.special.name}}" width=200 height=200>
                        {% if {{food.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{food.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{food.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{food.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{food.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 4</h3>
        <div class="accordion-content">
            <div class="foods">
                {% for food in site.data.foods.tier4 %}
                <div class="foodcontainer {{food.id | downcase}}">
                    <p class="food-headline">{{food.name}}</p>
                    <img src="{{food.path}}" alt="{{food.name}}" title="{{food.ability}}" width=200 height=200>
                    <div class="foodabilities">
                        <p>{{food.ability}}</p>
                    </div>
                    {% if food.special %}
                    <div class="specialcontainer" id="{{food.special.name}}">
                        <p class="special-headline">{{food.special.name}}</p>
                        <img src="{{food.special.path}}" alt="{{food.special.name}}" width=200 height=200>
                        {% if {{food.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{food.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{food.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{food.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{food.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 5</h3>
        <div class="accordion-content">
            <div class="foods">
                {% for food in site.data.foods.tier5 %}
                <div class="foodcontainer {{food.id | downcase}}">
                    <p class="food-headline">{{food.name}}</p>
                    <img src="{{food.path}}" alt="{{food.name}}" title="{{food.ability}}" width=200 height=200>
                    <div class="foodabilities">
                        <p>{{food.ability}}</p>
                    </div>
                    {% if food.special %}
                    <div class="specialcontainer" id="{{food.special.name}}">
                        <p class="special-headline">{{food.special.name}}</p>
                        <img src="{{food.special.path}}" alt="{{food.special.name}}" width=200 height=200>
                        {% if {{food.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{food.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{food.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{food.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{food.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion">
        <h3 class="toggler">Tier 6</h3>
        <div class="accordion-content">
            <div class="foods">
                {% for food in site.data.foods.tier6 %}
                <div class="foodcontainer {{food.id | downcase}}">
                    <p class="food-headline">{{food.name}}</p>
                    <img src="{{food.path}}" alt="{{food.name}}" title="{{food.ability}}" width=200 height=200>
                    <div class="foodabilities">
                        <p>{{food.ability}}</p>
                    </div>
                    {% if food.special %}
                    <div class="specialcontainer" id="{{food.special.name}}">
                        <p class="special-headline">{{food.special.name}}</p>
                        <img src="{{food.special.path}}" alt="{{food.special.name}}" width=200 height=200>
                        {% if {{food.special.attack}} %}
                        <div class="specialstats">
                            <div class="attack">
                                <p>{{food.special.attack}}</p>
                            </div>
                            <div class="hp">
                                <p>{{food.special.hp}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if {{food.special.ability}} %}
                        <div class="specialabilities">
                            <p>{{food.special.ability}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>