<h1 class="center mb-l">Privacy policy</h1>
<div class="imprint background-layer">
    <div class="mb-l">
        <p>Last updated: October 21, 2021</p>
        <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
        <p>We use Your anonymos data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.</p>
        <br>
        <b>Types of Data Collected</b>
        <b>Personal Data</b>
        <p>This website does not collect / save / use any personal data from its visitors. Furthermore no cookies are used.</p>
        <br>
        <b>Usage Data</b>
        <p>Usage Data is collected automatically when using the Service.</p>
        <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data. All of those data are anonymous an will not be tracked back to you.</p>
        <p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
        <br>
        <b>Contact</b>
        <p>If you have any questions about this Privacy Policy, You can contact us:</p>
        <p>
            <a href="mailto:contact@superautopets.com" class="mail">contact@superautopets.com</a><br>
            <a href="https://github.com/M3IY0U" class="git" target="_blank">Github: M3IY0U</a><br>
            <a href="https://github.com/sleightlyclueless" class="git" target="_blank">Github: sleightlyclueless</a>
        </p>
    </div>
    <br><br>
    <div>
        <b>
            <a href="javascript:history.go(-1)" title="Go back">Go back</a>
        </b>
    </div>
</div>