.lightbox,
noscript {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    .center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        border-radius: 10px;
        background: #002645;
        padding: 10px;
    }
    .animalcontainer,
    .foodcontainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        border-radius: 10px;
        max-width: 0;
        max-height: 0;
        transition: all 0.5s;
        min-width: 400px;
        @include respond-below(sm) {
            min-width: 80%;
        }
        img {
            opacity: 1;
            &:hover {
                opacity: 1;
                cursor: unset;
            }
        }
        .animalabilities,
        .foodabilities {
            display: block;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            padding: 5px;
        }
    }
    .specialcontainer {
        transition: all 0.5s ease-in;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        .special-headline {
            font-size: $h4-font-size;
        }
        img {
            width: 25%;
            height: auto;
            margin-bottom: 10px;
        }
    }
    .specialcontainer.show {
        max-height: 1000px;
        margin-top: 10px;
        padding: 10px;
    }
}
.lightbox.show {
    display: block;
    visibility: visible;
    background: rgba(0, 0, 0, 0.8);
    .animalcontainer.show,
    .foodcontainer.show {
        max-width: 1000px;
        max-height: 1000px;
        padding: 10px;
    }
}

/*====================================================*/

.animals,
.foods {
    .accordion {
        border-bottom: 1px solid white;
        &:first-of-type {
            border-top: 1px solid white;
        }
    }
}

.accordion {
    .toggler {
        transition: color 0.5s;
        &:hover {
            color: orange;
            cursor: pointer;
        }
        &::before {
            float: right;
            font: 1.3em/28px Montserrat;
            content: "V";
            transition: transform 0.6s;
        }
        &.show {
            &::before {
                transform: rotateX(180deg);
            }
        }
    }
    .accordion-content {
        overflow: hidden;
        position: relative;
        display: none;
        .animals,
        .foods {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
    }
}

.animalcontainer,
.foodcontainer {
    position: relative;
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    text-align: center;
    flex: 0 0 16.66%;
    @include respond-below(lg) {
        flex: 0 0 20%;
    }
    @include respond-below(md) {
        flex: 0 0 25%;
    }
    @include respond-below(sm) {
        flex: 0 0 100%;
    }
    .animal-headline,
    .food-headline {
        font-size: $h3-font-size;
        font-weight: bold;
    }
    img {
        width: 80%;
        max-width: 175px;
        height: auto;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .animalstats,
    .foodstats,
    .specialstats {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 70%;
        > div {
            flex: 0 0 50%;
            min-height: 50px;
        }
        .attack,
        .hp {
            background-repeat: no-repeat;
            background-size: 50px 50px;
            background-position: center;
            p {
                font-weight: bold;
                font-size: 25px;
                margin-top: 25px;
            }
        }
        .attack p {
            margin-left: 5px;
        }
    }
    .animalabilities,
    .foodabilities {
        display: none;
    }
    .specialcontainer {
        max-height: 0;
        padding-top: 10px;
    }
}

.foodcontainer {
    img {
        margin-bottom: 50px;
    }
}
.animalcontainer.highlight,
.foodcontainer.highlight {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}
