.accordion {
    .accordion-content {
        transition: max-height 2s;
        overflow: hidden;
        &.active {
            max-height: 9999px;
        } 
        &.inactive {
            max-height: 0;
        }
        .animalcontainer {
            float: left;
            width: 25%;
        }    
    }
    
}