// headline font sizes:: check XD-Mockup
$h1-font-size: 50px;
$h2-font-size: 35px;
$h3-font-size: 25px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;

// paddings
$pt-l: 4rem;
$pt-m: 2rem;
$pt-s: 1rem;

$pb-l: 4rem;
$pb-m: 2rem;
$pb-s: 1rem;

$pr-l: 4rem;
$pr-m: 2rem;
$pr-s: 1rem;

$pl-l: 4rem;
$pl-m: 2rem;
$pl-s: 1rem;

// margins
$mt-l: 4rem;
$mt-m: 2rem;
$mt-s: 1rem;

$mb-l: 4rem;
$mb-m: 2rem;
$mb-s: 1rem;

$mr-l: 4rem;
$mr-m: 2rem;
$mr-s: 1rem;

$ml-l: 4rem;
$ml-m: 2rem;
$ml-s: 1rem;
