h1, .h1 {
    font-size: $h1-font-size;
}
h2, .h2 {
    font-size: $h2-font-size;
}
h3, .h3 {
    font-size: $h3-font-size;
}
h4, .h4 {
    font-size: $h4-font-size;
}
h5, .h5 {
    font-size: $h5-font-size;
}
h6, .h6 {
    font-size: $h6-font-size;
}

.error {
    border: 1px solid red;
    color: red;
    animation: shake .5s linear;
}

.center {
    text-align: center;
}

.mb-s {
    margin-bottom: 20px;
}
.mb-m {
    margin-bottom: 40px;
}
.mb-l {
    margin-bottom: 60px;
}

input[type="search"] {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    font-size: $h3-font-size;
    margin-bottom: 50px;
}