h1,
.h1 {
    font-size: $h1-font-size;
}
h2,
.h2 {
    font-size: $h2-font-size;
}
h3,
.h3 {
    font-size: $h3-font-size;
    margin: 0;
    padding: 1em 0;
}
h4,
.h4 {
    font-size: $h4-font-size;
}
h5,
.h5 {
    font-size: $h5-font-size;
}
h6,
.h6 {
    font-size: $h6-font-size;
}

a {
    color: white;
    transition: all 0.5s;
    &:hover {
        color: orange;
    }
}

.error {
    border: 1px solid red;
    color: red;
    animation: shake 0.5s linear;
}

.center {
    text-align: center;
}

.mb-s {
    margin-bottom: 20px;
}
.mb-m {
    margin-bottom: 40px;
}
.mb-l {
    margin-bottom: 60px;
}

.settings {
    position: relative;
    display: block;
    margin-bottom: 50px;
    .buttons {
        margin-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
        button {
            cursor: pointer;
            padding: 20px;
            margin: 1% 1%;
            font-size: $h3-font-size;
            border-radius: 5px;
            border: 2px solid grey;
            opacity: 0.7;
            transition: all .5s;
            flex: 0 0 32%;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            @include respond-below(md) {
                flex: 0 0 100%;
                margin: 1% 0;
            }
            &:hover,
            &:active,
            &.active {
                border: 2px solid black;
                opacity: 1;
            }
        }
    }
    input[type="search"] {
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 20px;
        font-size: $h3-font-size;
    }
}

.background-layer {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}
