body {
    font-family: "Montserrat";
    font-size: $paragraph-font-size;
    font-weight: 400;
    color: white;

    margin: 0;
}

section.content {
    position: relative;
    width: 98%;
    margin: 0 auto 60px;
    .inside {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

section.footer {
    position: relative;
    width: 100%;
    background-color: #002645;
    .inside {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 1%;
        display: flex;
        flex-wrap: wrap;
        div {
            flex: 0 0 48%;
            margin-top: 25px;
            padding-right: 2%;
            .headline {
                font-size: $h4-font-size;
                margin-bottom: 10px;
            }
            @include respond-below(sm) {
                flex: 0 0 96%;
            }
            p {
                margin: 0;
            }
            &.links {
                a {
                    display: block;
                    clear: both;
                }
            }
        }
        #totop {
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -20px;

            font-size: 30px;
            color: white;
            opacity: 0.8;
            transition: All 0.3s ease;
            text-decoration: none;

            background: rgba(0, 28, 51, 1);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 5px 15px;

            &:hover {
                cursor: pointer;
                color: orange;
                opacity: 1;
            }
        }
    }
}
