body {
    font-family: $font-family;
    font-size: $paragraph-font-size;
    font-weight: 400;
    color: $secondary-color;
    margin: 0;

    background: linear-gradient(90deg, #202c3d ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient(#202c3d ($dot-space - $dot-size), transparent 1%) center, $secondary-color;
    background-size: $dot-space $dot-space;
    background-attachment: fixed;
    &.noscroll {
        overflow: hidden;
    }
}

section.content {
    position: relative;
    width: 98%;
    margin: 0 auto 60px;
    padding-top: 60px;
    .inside {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
    }
}

section.footer {
    position: relative;
    width: 100%;
    background-color: $primary-color;
    border-top: 1px solid $secondary-color;
    .inside {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 1% 0;
        display: flex;
        flex-wrap: wrap;
        div {
            flex: 0 0 48%;
            margin-top: 25px;
            padding-right: 2%;
            .headline {
                font-size: $h4-font-size;
                margin-bottom: 10px;
            }
            @include respond-below(sm) {
                flex: 0 0 96%;
            }
            p {
                margin: 0;
            }
            &.links {
                a {
                    display: block;
                    clear: both;
                }
            }
        }
        #totop {
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -20px;
            color: white;
            transition: All 0.3s ease;
            text-decoration: none;
            &:before {
                font-family: "FontAwesome";
                content: "\f102";
                background: rgba(255, 255, 255, 0.1);
                width: 40px;
                height: 40px;
                display: block;
                text-align: center;
                line-height: 40px;
                font-size: 21px;
                border-radius: 0 0 3px 3px;
            }
            &:hover {
                cursor: pointer;
                color: orange;
                opacity: 1;
            }
        }
    }
}

section.bottom {
    position: relative;
    width: 100%;
    background-color: $primary-color;
    .inside {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1% 40px;
        display: flex;
        flex-wrap: wrap;
    }
}
