---
---

@import "config";
@import "mixins";
@import "animations";
@import "layout";
@import "globals";
@import "accordion";

body {
    background-image: url("{{ '/assets/img/sapo-background.png' | absolute_url }}");
    background-repeat: repeat;
}

.lightbox {
    .animalcontainer,
    .foodcontainer {
        background: url("{{ '/assets/img/battlebackground.png' | absolute_url }}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        .animalstats {
            .attack {
                background-image: url("{{ '/assets/img/stickerfist.png' | absolute_url }}");
            }
            .hp {
                background-image: url("{{ '/assets/img/stickerheart.png' | absolute_url }}");
            }
        }
    }
    .specialcontainer {
        .specialstats {
            .attack {
                background-image: url("{{ '/assets/img/stickerfist.png' | absolute_url }}");
            }
            .hp {
                background-image: url("{{ '/assets/img/stickerheart.png' | absolute_url }}");
            }
        }
    }
}

.accordion {
    .accordion-content {
        .animals,
        .foods {
            .animalcontainer,
            .foodcontainer {
                .animalstats {
                    .attack {
                        background-image: url("{{ '/assets/img/stickerfist.png' | absolute_url }}");
                    }
                    .hp {
                        background-image: url("{{ '/assets/img/stickerheart.png' | absolute_url }}");
                    }
                }
            }
        }
    }
}
