---
---

@import "config";
@import "mixins";
@import "layout";
@import "accordion";

body {
    background-image: url("{{ '/assets/img/sapo-background.png' | absolute_url }}");
    background-repeat: repeat;
}

.lightbox {
    .animalcontainer,
    .foodcontainer {
        .animalstats {
            .attack {
                background-image: url("{{ '/assets/img/stickerfist.png' | absolute_url }}");
            }
            .hp {
                background-image: url("{{ '/assets/img/stickerheart.png' | absolute_url }}");
            }
        }
    }
}

.accordion {
    .accordion-content {
        .animals,
        .foods {
            .animalcontainer,
            .foodcontainer {
                .animalstats {
                    .attack {
                        background-image: url("{{ '/assets/img/stickerfist.png' | absolute_url }}");
                    }
                    .hp {
                        background-image: url("{{ '/assets/img/stickerheart.png' | absolute_url }}");
                    }
                }
            }
        }
    }
}